.repos-container {
	margin-top: 5px;
}

.search-container {
	margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding: 10px 10px 30px 10px; 
}

.search-text {
	width: 82%;
    border-radius: 0;
    height: 42px;
    padding: 10px;
	outline: 0;
    box-shadow: none;
    font-weight: bold;
}

.search-text:focus {
	border-color: #7a26e8; 
}

.search-button {
	display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
	border-radius: 0;
    height: 42px;
    width: 20%;

	background: #FFF;
    color: #7a26e8;
    border: 1px solid #7a26e8;

	transition: all .2s ease-in-out;
}

.search-button:hover {
	background: #7a26e8;
	color: white;
}

.link {
	text-decoration: none;
	height: 42px;
    display: block;
    padding: 10px;
    text-align: center;
    background: #FFF;
    color: #7a26e8;
    border: 1px solid #7a26e8;
	
	transition: all .2s ease-in-out;
}

.link:hover {
	background: #7a26e8;
	color: white;
}

.repos {
	list-style: none;
	
	overflow: hidden;
	padding: 0;
}

.repo {
	border: 1px solid #E6E6E6;
    float: left;
    padding: 10px;
	height: 200px;
	margin: 20px 45px;
	background: #FFF;
	transition: all .2s ease-in-out;

    opacity: 0;
    animation: fadeIn 0.5s ease;
    animation-fill-mode: forwards;
}

.repo:hover {
	border: 1px solid #1fc055;
}


.name {
	height: 28px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #e7e9eB;
}

.details {
	height: 110px;
    padding: 5px;
}


.error-message {
	text-align: center;
	color: red;
	font-size: 20px;
    margin-top: 20px;

    opacity: 0;
    animation: fadeIn 0.5s ease;
    animation-fill-mode: forwards;
}

.empty-message {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    
    opacity: 0;
    animation: fadeIn 0.5s ease;
    animation-fill-mode: forwards;
}

.profile-image {
	width: 100px;
    height: 100px;

    opacity: 0;
    animation: fadeIn 0.5s ease;
    animation-fill-mode: forwards;
}

.desc {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 80px;
    margin: 0 auto;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stars {
    float: left;
}

.language {
    float: right;
    font-style: italic;
}

.load-more {
    width: 50%;
    text-align: center;
    display: block;
    margin: auto;
    
    position: absolute;
    bottom: -30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


/*Slider styles*/
.ui-slider {
    background: #d8e0f3;
    border-radius: 2px;
    border-color: #d8e0f3;
    height: 8px;
    margin-top: 10px;
}

.sider-value {
    margin-top: 10px;
    margin-left: 100px;
    opacity: 0.8;
}

.ui-slider > .ui-state-default {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: #0db9f0;
    border: none;
    top: -13px;
    outline: 0;
    border-radius: 50%;

}